h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  h2
  {
    font-size: 33px;
    font-weight: bolder;
  }

  .select
  {
    font-size: 30px;
    font-weight: bolder;
    
  }
 .row1{
    display: flex;
    margin-left: 450px;
 }
 .select-box
 {
    margin-left: 10px;
    margin-top: 20px;
 }
 .right{
    margin-top: 23px;
 }